{
    pki {
        ca benchung {
            name "Bentificates Chungthority"
        }
    }
}


benchung.dev {
    reverse_proxy jonny:5001

    acme_server {
        ca benchung
    }
}

nottfound.benchung.dev {
    reverse_proxy nottfound:5002

    acme_server {
        ca benchung
    }
}
