{
  key_type rsa4096
}

benchung.dev {
    reverse_proxy jonny:5001
}

nottfound.benchung.dev {
    reverse_proxy nottfound:5002
}

mail.benchung.dev {
    respond "401"
}

pg1.benchung.dev {
    reverse_proxy postgres:5432
}
