benchung.dev {
    reverse_proxy jonny:5001
}

nottfound.benchung.dev {
    reverse_proxy nottfound:5002
}

nottfound.benchung.dev {
    reverse_proxy nottfound:5002

    acme_server {
        ca benchung
    }
}

mail.benchung.dev {
}
